/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.phpstorm.meta.php
.idea/
public/media/*
public/documents/*
public/images/thumbnail/*
public/images/full/*
#resources/views/partials/topbar.blade.php
hgk.sublime-project
hgk.sublime-workspace
_assets_
resources/assets/js/vue-tables
storage/attachments/*
app/Custom/*
public/.htpasswd
public/.htaccess
public/forms_uploads/*
app/Custom/
storage/attachments/
